:root {
  --cute-blue: rgb(0, 19, 75);
}
* {
  margin: 0;
  box-sizing: border-box;
}


body {
background-color: rgb(241, 246, 251);
  color: var(--cute-blue);
  display: block;
  font-family: "Josefin Sans", sans-serif;
}

#navbar {
  background-color: #837f7f;
  background-color: #8e95a5;
  z-index: 1;
  position: fixed;
  width: 100vw;
  padding: 1rem 0.5rem;
  margin-top: 0;
  margin: 0 auto;
  text-align: center;
}

#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  /* border-radius: 17px; */
}

#navbar a:hover {
  text-decoration: underline;
  /* background-color: rgb(105, 123, 183); */
}

#navbar .active-link {
  color:var(--cute-blue);
}

video {
  width: 100vw;
  height: calc(9 / 17 * 105vw);
  object-fit: cover;
  object-position: center;
}

.section-wrap{
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
/* ///   project ///// */
.project-div {
  background-color: white;
  max-width: 25rem;
  border: 0.5px solid  rgb(195, 221, 247);
  border-radius: 2px;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.hovered {
  background-color: #030202;
  opacity: 0.2;
  transition: all 0.15s linear;
}
.technologies{
  margin-inline: 1rem;
  line-height: 1.5rem;
}
.flex-container {
  margin: 0 auto;
  padding-block: 2rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 50px;
  justify-content: center;
  margin-top: 3rem;
  /* border: 2px solid black; */
}

.project-div h3, p {
  margin-block: 1.2rem;
}

.test {
  position: relative;
  overflow: hidden;
  /* this ensures everything stays within the div */
}

.test img {
  border-bottom: 1px solid gray;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  
  /* By default, it won't be displayed */
}

.test:hover .links {
  display: block;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.links a {
  margin-inline: 0.5rem;
  font-size: 1rem;
}

.about-me-pic{
  width: 250px;
  border-radius: 50%;
  border: 3px solid rgb(229, 240, 251);
}
.about-text{
  font-size:1.2rem ;
  line-height: 1.6rem;
}

.about-skills-pic{
display: flex;
justify-content: space-around;
margin-top: 3rem;
}

ul , .about-me-pic{
  display: inline-block;
  margin-inline: 1rem;
}

.global-header {
  text-align: center;
  font-size: 2rem;
  margin-top:7rem;
  margin-bottom: 4rem;
  /* margin-top: 3rem; */
}

.empty {
  color:transparent;
}

.project-div a {
  font-size: 4rem;
  color:rgb(0, 126, 195);
}

.project-div a:nth-of-type(1) {

  margin-right: 2rem;
}

.project-div a:nth-of-type(2) {

  margin-left: 2rem;
}

.contact {
  margin-block: 8rem;
  text-align: center;
}

.contact__text-1 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 5rem;
  margin-inline: 2rem;
  line-height: 1.9rem;
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.contact__content h1 {
  animation: slideInLeft 1s ease-in-out;
}

.contact__content .contact__text-1 {
  animation: slideInLeft 0.8s ease-in-out;
}

.contact__content .contact__text-2 {
  animation: slideInLeft 0.6s ease-in-out;
}

.con-link {
  color: gray;
  font-size: 2.5rem;
  transition: all 0.2s linear;
  transform: translateY(0);
  margin: 1.5rem;
  /* Default state, no movement */
}

.con-link:hover {
  color: var(--cute-blue);
}

.con-link:hover .faIcon {
  transform: translateY(-10px) !important;
}
@media only screen and (max-width: 1024px) {


  .con-link {
    color: gray;
    font-size: 1.2rem;
  }

  .con-link:hover {
    color: var(--cute-blue);
    font-size: 1.3rem;
    transform: translateY(-5px);
  }

  .contact__question {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 775px) {
.about-skills-pic{
  flex-direction: column;
  align-items: center;
}
.about-me-pic{
  margin-top: 3rem;
}

}


@media only screen and (max-width: 400px) {


  .project-div a {
    font-size: 3rem;

  }
}
