@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  --cute-blue: rgb(0, 19, 75);
}
* {
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(241, 246, 251);
  color: var(--cute-blue);
  display: block;
  font-family: "Josefin Sans", sans-serif;
}

.dark {
  transition: background-color 0.3s linear ;
  color: white;
  background-color: rgb(36, 53, 59);
  background-color: rgb(43, 56, 61);
}
.light{
  transition: background-color 0.3s linear;
  background-color: rgb(241, 246, 251);
  color: var(--cute-blue);
}


.section-wrap{
  padding-inline: 1rem;
  max-width: 800px;
  margin: 0 auto;
}
.header-con{
  display: flex;
  padding-top: 2.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-container {
display: grid;
gap: 3rem; 
grid-auto-flow: column;
grid-auto-columns: 29%;
overflow-x: auto;
overscroll-behavior-inline: contain;
padding: 2rem 3rem 3rem;
}


.project-div {
  display: grid;
  grid-template-rows: min-content;
  gap: 1.5rem;
  background-color: white;
  border: 0.5px solid  rgb(195, 221, 247);
  border-radius: 2px;
  text-align: center;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.8rem;
}
.project-div > img { 
  inline-size: 100%;
  aspect-ratio: 19 / 9 ;

}





 p {
  margin-block: 1.2rem;
}







.about-me-pic{
  width: 250px;
  border-radius: 50%;
  border: 3px solid rgb(229, 240, 251);
}
.about-text{
  font-size:1.2rem ;
  line-height: 1.6rem;
}
.about-text:first-of-type{
  font-weight: 600;
  letter-spacing:0.1REM;
  line-height: 2REM;
}
.about-text:last-of-type {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0;
  text-align: center;
 
}






.global-header {
  font-size: 2rem;
  margin-bottom: 4rem;
 font-family: 'Comfortaa', sans-serif;
}
.header{
  text-align: center;
  margin-top: 4rem;
}



.con-link {
  color: gray;
  font-size: 1.2rem;
  transition: all 0.2s linear;
  margin: 1.7rem;
}

.con-link:hover {
  color:#4eb6fc;
}



button {
  padding: 10px 20px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  background-color: #5b96bd;
  color: #ffffff;
  /* font-weight: Bold; */
  margin-left: 1.5rem;
  font-size: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #4eb6fc;
  box-shadow: 0 0 20px #6fc5ff50;
  /* transform: scale(1.1); */
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  /* transform: scale(0.98); */
}
button a {
  text-decoration: none;
  /* Removes the underline from the link */
  color: inherit;
  /* The link will inherit the color from the button */
  display: inline-block;
  /* Ensures that padding and other block-level properties apply */
  /* Add any additional styles you want for the link here */
}
ul {
  text-align: left;
  display:inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}


@media screen and (max-width: 1100px) {

.flex-container {
    gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 35%;
    padding: 2rem 2rem 2rem;
  }

.project-div {

  gap: 1rem;
  padding-bottom: 0.8rem;
}

}

@media screen and (max-width: 750px) {

  .flex-container {
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 43%;
    padding: 2rem 1rem 1rem;
  }

  .project-div {

    gap: 0.8rem;
    padding-bottom: 0.5rem;
  }
     .con-link {
       color: gray;
       font-size: 0.8rem;
       transition: all 0.2s linear;
       margin: 1rem;
     }

}
@media screen and (max-width: 555px) {

  .flex-container {
    gap: 0.5rem;
    grid-auto-flow: column;
    grid-auto-columns: 59%;
    padding: 2rem 0.5rem 0.5rem;
  }

  .project-div {

    gap: 0.5rem;
    padding-bottom: 0.2rem;
  }
 

}